<div class="sheet-tabs">
    <div class="item active" data-action="changeTab" data-tab="stats">Caractéristiques</div>
    <div class="item" data-action="changeTab" data-tab="inventory">Inventaire</div>

    {{#if showMagicTab}}
    <div class="item" data-action="changeTab" data-tab="magic">Magie</div>
    {{/if}}

    {{#if showBioTab}}
    <div class="item" data-action="changeTab" data-tab="biography">Biographie</div>
    {{/if}}
</div>