<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="form-group-item">
            <label>Équipée</label>
            <input type="checkbox" name="system.equipe" {{checked system.equipe}}/>
        </div>
        <div class="form-group-item">
            <label>Protection</label>
            <input type="number" name="system.protection" value="{{system.protection}}"/>
        </div>
        <div class="form-group-item">
            <label>Malus Initiative</label>
            <input type="number" name="system.malus_init" value="{{system.malus_init}}"/>
        </div>
        <div class="form-group-item">
            <label>Malus Mouvement (%)</label>
            <input type="number" name="system.malus_mou" value="{{system.malus_mou}}"/>
        </div>
    </div>
</div>
