<div class="tab description" data-tab="description" style="display:none;">
    <div class="editor-container">
        <prose-mirror name="system.description" toggled="true" value="{{system.description}}" document-uuid="{{item.uuid}}">
            {{{enrichedDescription}}}
        </prose-mirror>
    </div>
</div>