<header class="sheet-header-actor item-header-main">
    <img class="item-header-img cursor-pointer" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}"/>
    <div class="header-bio justify-center">
        <input name="name" type="text" value="{{item.name}}" class="charname" placeholder="Nom de l'objet"/>
    </div>
</header>