<div class="tab details" data-tab="details" style="display:block;">
    <div class="item-grid">
        <div class="form-group-item">
            <label>Quantité</label>
            <input type="number" name="system.quantite" value="{{system.quantite}}"/>
        </div>
        <div class="form-group-item">
            <label>Encombrement</label>
            <input type="number" name="system.encombrement" value="{{system.encombrement}}"/>
        </div>
        <div class="form-group-item">
            <label>Prix</label>
            <input type="text" name="system.prix" value="{{system.prix}}"/>
        </div>
    </div>
</div>