<nav class="sheet-tabs tabs">
    <a class="item" data-action="changeTab" data-tab="description">Description</a>
    <a class="item active" data-action="changeTab" data-tab="details">Détails</a>
    <a class="item" data-action="changeTab" data-tab="activities"><i class="fas fa-bolt"></i> Activités</a>
</nav>