<div class="sheet-container">
<section class="sheet-body">
    {{> "systems/brigandyne2appv2/templates/item/parts/header.hbs"}}
    {{> "systems/brigandyne2appv2/templates/item/parts/tabs.hbs"}}

    <div class="tab details" data-tab="details" style="display:block;">
        <div class="item-grid">
            {{#if isArme}}      {{> "systems/brigandyne2appv2/templates/item/parts/arme.hbs"}}      {{/if}}
            {{#if isArmure}}    {{> "systems/brigandyne2appv2/templates/item/parts/armure.hbs"}}    {{/if}}
            {{#if isObjet}}     {{> "systems/brigandyne2appv2/templates/item/parts/objet.hbs"}}     {{/if}}
            {{#if isAtout}}     {{> "systems/brigandyne2appv2/templates/item/parts/atout.hbs"}}     {{/if}}
            {{#if isSort}}      {{> "systems/brigandyne2appv2/templates/item/parts/sort.hbs"}}      {{/if}}
            {{#if isDomaine}}   {{> "systems/brigandyne2appv2/templates/item/parts/domaine.hbs"}}   {{/if}}
            {{#if isOrigine}}   {{> "systems/brigandyne2appv2/templates/item/parts/origine.hbs"}}   {{/if}}
            {{#if isArchetype}} {{> "systems/brigandyne2appv2/templates/item/parts/archetype.hbs"}} {{/if}}
            {{#if isCarriere}}  {{> "systems/brigandyne2appv2/templates/item/parts/carriere.hbs"}}  {{/if}}
        </div>
    </div>

    {{> "systems/brigandyne2appv2/templates/item/parts/description.hbs"}}
</section>
</div>