<form class="{{cssClass}} flexcol" autocomplete="off">
    
    {{> "systems/brigandyne2appv2/templates/item/parts/header.hbs"}}
    
    {{> "systems/brigandyne2appv2/templates/item/parts/tabs.hbs"}}
    
    <section class="sheet-body">
        
        {{#if isArme}}      {{> "systems/brigandyne2appv2/templates/item/parts/arme.hbs"}}      {{/if}}
        {{#if isArmure}}    {{> "systems/brigandyne2appv2/templates/item/parts/armure.hbs"}}    {{/if}}
        {{#if isObjet}}     {{> "systems/brigandyne2appv2/templates/item/parts/objet.hbs"}}     {{/if}}
        {{#if isAtout}}     {{> "systems/brigandyne2appv2/templates/item/parts/atout.hbs"}}     {{/if}}
        {{#if isSort}}      {{> "systems/brigandyne2appv2/templates/item/parts/sort.hbs"}}      {{/if}}
        {{#if isDomaine}}   {{> "systems/brigandyne2appv2/templates/item/parts/domaine.hbs"}}   {{/if}}
        {{#if isOrigine}}   {{> "systems/brigandyne2appv2/templates/item/parts/origine.hbs"}}   {{/if}}
        {{#if isArchetype}} {{> "systems/brigandyne2appv2/templates/item/parts/archetype.hbs"}} {{/if}}
        {{#if isCarriere}}  {{> "systems/brigandyne2appv2/templates/item/parts/carriere.hbs"}}  {{/if}}

        {{> "systems/brigandyne2appv2/templates/item/parts/description.hbs"}}

        <div class="tab activities" data-tab="activities" style="display:none;">
            {{> "systems/brigandyne2appv2/templates/item/parts/item-activities.hbs"}}
        </div>

    </section>
</form>